extends layouts/default
include helpers/mixins

block variables
	- const title = "Index"

block content
	+icon('info')
	span.icon.icon-info
	div 
		a(href="#")
			span a
	div dasdasd
		a(href="#")
		| dasdasd	
		span asasasa
		| asdasdasd




